<div id="pic-grid">
  <img src="./src/Cat.jpg" alt="Cat">
  <img src="./src/Dog.jpg" alt="Dog">
  <img src="./src/Fish.jpg" alt="Fish">
  <img src="./src/Parrot.jpg" alt="Parrot">
  <img src="./src/River.jpg" alt="River">
  <img src="./src/Turtle.jpg" alt="Turtle">
</div>
